body{
	background-color: white;
}
h1{
	font-style: italic;
	width:400px;
	font-family: futura;
	background-color: red;
	color: white;
	text-align:center;
	font-size: 70px

}
p.content{
	padding:45px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	background: white;
}
.button-background{
	
	min-height: 1000px;	
	background-image: url("http://eskipaper.com/images/mountain-valley-backgrounds-1.jpg");
}
.infoheading{
	text-decoration: underline;
	padding:45px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	background: white;
}
